@(map: java.util.List[Array[models.BlockButtonInterface]])(height:Integer)(index:Integer)

@main("Level Editor") {
    <div>
        <div>
            <form action="@{routes.Editor.show(index-1)}" style="display: inline-table">
                <input class="navigation_button" type="submit" value="<">
            </form>

            <table id="map" style="display: inline-table">
                @for( i <- 0 to height -1){
                    <tr>
                        @for( j <- 0 to map.size -1){
                            <td>
                                <button type="button" class="block type_@map.get(j)(i).getType()" id="block_@{j}_@{i}" onclick="changeBlockType(@{j},@{i})">@map.get(j)(i).getType()</button>
                            </td>
                        }
                    </tr>
                }
            </table>
            <form action="@{routes.Editor.show(index+1)}" style="display: inline-table">
                <input class="navigation_button" type="submit" value=">">
            </form>
        </div>
        <br>
        <div>
            <div id="tool_indicator" class="tool type_0"></div>
            <div id="toolbox">
                @for( i <- 0 to 8){
                    <button type="button" class="type_@{i} tool" onclick="changeToolType(@{i})">@{i}</button>
                }
            </div>
            <div id="menu_toolbox">
                <button type="button" class="menu" id="add" onclick="addColumn()">+</button>
                <button type="button" class="menu" id="save">save</button>
                <br>
                <button type="button" class="menu" id="delete">-</button>
                <button type="button" class="menu" id="load">load</button>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        var tool_type = @{session().get("tool_type")};
        function changeBlockType(x,y){
            var button = $('#block_'+x+'_'+y );
            x = @{index} + x;
            $.ajax({
                url: '/changeBlockType',
                data: {
                    x: x,
                    y: y,
                    block_type: tool_type
                },
                success: function(data) {
                    button.html(data);
                    button.attr("class", "block type_"+data)
                }
            });
        }

        function changeToolType(type){
            $.ajax({
                url: '/changeToolType',
                data: {
                    tool_type: type
                },
                success: function(data) {
                    tool_type = data;
                    $('#tool_indicator' ).attr("class", "tool type_"+tool_type);
                }
            });
        }

        function addColumn(){
            var amount = showInputDialog("How many columns should be added?");
            if(amount == -1){
                return;
            }
            $.ajax({
                url: '/addColumns',
                data: {
                    amount: amount
                },
                success: function(data) {

                }
            });
        }

        function showInputDialog(message){
            var dialog = $('<div id="dialog"><label for ="dialog_input">'+message+'</label><input type="text" id="dialog_input" /></div>');
            alert(dialog.html());
            dialog.dialog({
                buttons:{
                     OK:function(){
                        $(this ).dialog("close");
                         return $('#dialog_input' ).val();
                     },
                    Cancel:function(){
                        $(this ).dialog("close");
                        return -1;
                    }
                }
            });
        }
    </script>
}